@page "/login"
@using System.ComponentModel.DataAnnotations
@using ElectronicDepartment.Web.Client.Helpers
@using ElectronicDepartment.Web.Client.Services
@inject IAuthenticationService AuthenticationService
@inject AuthenticationStateProvider TestAuthStateProvider
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]

<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        Student
        Username: Student@gmail.com
        Password: aStudent123!<br /><br />
        Manager
        Username: Manager@gmail.com
        Password: aManager123!<br /><br />
        Teacher
        Username: Teacher@gmail.com
        Password: aTeacher123!<br /><br />
        Admin
        Username: admin123@gmail.com
        Password: admin123!
    </div>
    <div class="card">
        <h4 class="card-header">Blazor WebAssembly JWT Login</h4>
        <div class="card-body">
            <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="model.Username" class="form-control" />
                    <ValidationMessage For="@(() => model.Username)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="model.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => model.Password)" />
                </div>
                <button class="btn btn-primary">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                }
            </EditForm>
        </div>
    </div>
</div>

@code {
    private Model model = new Model();
    private bool loading;
    private string error;

    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            await AuthenticationService.Login(model.Username, model.Password);
            await TestAuthStateProvider.GetAuthenticationStateAsync();
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }

    private class Model
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }
    }
}